# connection string for mongo database
MONGO = mongodb://localhost:27017
# allowed hosts
ALLOWED_ORIGINS = ???
# allowed auth hosts
ALLOWED_AUTH_ORIGINS = ???

# database name
DATABASE = ???

# collection names
SPORT_DETAIL_COLLECTION = ???
SUB_SPORT_COLLECTION = ???
AUDIENT_COLLECTION = ???
MEDAL_COLLECTION = ???